<table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">Answer</td>     
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">{{ form_widget(answer.video) }}</td>
    <td class="adelete"></td>
  </tr>
</table>