security:
    firewalls:
        admin:
            pattern: ^/
            anonymous: ~
            form_login:
                login_path: login
                check_path: login_check
                always_use_default_target_path: true
                default_target_path: /dashboard
            logout:
                path: /logout
                target: /
    access_control:
         - { path: ^/survey , roles: [ROLE_TIPDDY] }
    providers:
         default_provider:
             memory:
                 users:
                     - { name: ryan, password: ryanpass, roles: 'ROLE_USER'}
                     - { name: admin, password: kitten, roles: 'ROLE_TIPDDY'}
    
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
          
            